
/.vs
exceptionLog.txt
/restsecurity/.vs/restsecurity/FileContentIndex
/restsecurity/.vs/restsecurity/FileContentIndex
/restsecurity/.vs/restsecurity/FileContentIndex
/restsecurity/.vs/restsecurity
restsecurity/exceptionLog.txt
/restsecurity/.vs
